<div class="busca-container">
  <div class="search-bar">
    <input type="text" placeholder="Buscar imóveis..." [(ngModel)]="searchText">
  </div>

  <div class="cards-container">
    <app-card-imovel
      *ngFor="let imovel of imoveis | filtroImovel:searchText"
      [imovel]="imovel">
      
      <button [routerLink]="['/imoveis', imovel.id]">Ver Detalhes</button>
    </app-card-imovel>
  </div>

  <p *ngIf="(imoveis | filtroImovel:searchText).length === 0">
    Nenhum imóvel encontrado.
  </p>
</div>
