.footer {
  background-color: #009B77;
  color: #fff;
  padding: 20px 0;
  text-align: center;

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;

    .social-icons {
      margin-top: 10px;

      a {
        color: #fff;
        margin: 0 10px;
        text-decoration: none;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
